Work
Data
/*.sdf
/*.sln
/*.suo
/HelloWorld.vcxproj
/*.log
source/
/*.opensdf
*.*.bak
!Work/

Work/*
!Work/Data/

Work/Data/*
!Work/Data/NTU6/

Work/Data/NTU6/*
!Work/Data/NTU6/Characters
!Work/Data/NTU6/Characters_More

Work/Data/NTU6/Characters/*
!Work/Data/NTU6/Characters/Donzo2.cwa
!Work/Data/NTU6/Characters/Lyubu2.cwa
!Work/Data/NTU6/Characters/Robber02.cwa

Work/Data/NTU6/Characters_More/*
!Work/Data/NTU6/Characters_More/Footman01
!Work/Data/NTU6/Characters_More/Sorcerer01
!Work/Data/NTU6/Characters_More/WarLord01

Work/Data/NTU6/Characters_More/Footman01/*
!Work/Data/NTU6/Characters_More/Footman01/Footman01.cwa

Work/Data/NTU6/Characters_More/Sorcerer01/*
!Work/Data/NTU6/Characters_More/Sorcerer01/Sorcerer01.cwa

Work/Data/NTU6/Characters_More/WarLord01/*
!Work/Data/NTU6/Characters_More/WarLord01/WarLord01.cwa
